@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
header {
    text-align: center;
    color: #016B61;
    background-color: #E5E9C5;
    border-radius: 12px;
}
.data {
    color: #014D40;
}
input {
    border: 2px solid #016B61;
    border-radius: 8px;
    padding: 5px; /*outer space around the element*/
    margin: 5px; /*ระยะห่างภายนอก Top and Bottom,Left and Right*/
}